<mat-card>
  <mat-card-header class="mx-auto"></mat-card-header>
  <mat-card-title class="text-center">Martians List</mat-card-title>
  <mat-card-content *ngIf="maritans$ | async as martians">
    <table mat-table [dataSource]="martians" class="mat-elevation-z8">
      <ng-container matColumnDef="Image">
        <th class="text-center" mat-header-cell *matHeaderCellDef>No.</th>
        <td class="text-center" mat-cell *matCellDef="let element">
          <img [src]="element.imageUrl" width="35" height="35" />
        </td>
      </ng-container>

      <ng-container matColumnDef="Name">
        <th class="text-center" mat-header-cell *matHeaderCellDef>Name</th>
        <td class="text-center" mat-cell *matCellDef="let element">
          {{ element.fullName }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Experience in space">
        <th class="text-center" mat-header-cell *matHeaderCellDef>
          Experience in space
        </th>
        <td class="text-center" mat-cell *matCellDef="let element">
          {{ element.experienceInSpace }}
        </td>
      </ng-container>

      <ng-container matColumnDef="Working state">
        <th class="text-center" mat-header-cell *matHeaderCellDef>
          Working state
        </th>
        <td class="text-center" mat-cell *matCellDef="let element">
          <mat-form-field appearance="fill">
            <mat-label>{{
              element.workingState ?? "Choose your work"
            }}</mat-label>
            <mat-select [disabled]="element.workingState">
              <mat-option
                *ngFor="let job of jobs$ | async"
                [value]="job.id"
                (click)="updateWorkingState(job.name, element.id)"
                selected="'Sadzenie warzyw'"
              >
                {{ job.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button
            mat-button
            *ngIf="currentJob$ | async as currentJob"
            (click)="sendWorkingState(currentJob)"
          >
            Accept
          </button>
          <button mat-button>Finish</button>
        </td>
      </ng-container>

      <ng-container matColumnDef="Details">
        <th class="text-center" mat-header-cell *matHeaderCellDef>Details</th>
        <td class="text-center" mat-cell *matCellDef="let element">
          <button mat-mini-fab routerLink="/martian-detail/1'">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card-content>
</mat-card>
