<mat-card>
  <mat-card-header class="mx-auto"></mat-card-header>
  <mat-card-title class="text-center">Martians List</mat-card-title>
  <mat-card-content *ngIf="maritans$ | async as martians">
    <table mat-table [dataSource]="martians" class="mat-elevation-z8">
      <!-- Position Column -->
      <ng-container matColumnDef="Image">
        <th class="text-center" mat-header-cell *matHeaderCellDef>No.</th>
        <td class="text-center" mat-cell *matCellDef="let element">
          <img [src]="element.imageUrl" width="35" height="35" />
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Name">
        <th class="text-center" mat-header-cell *matHeaderCellDef>Name</th>
        <td class="text-center" mat-cell *matCellDef="let element">
          {{ element.fullName }}
        </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="Experience in space">
        <th class="text-center" mat-header-cell *matHeaderCellDef>
          Experience in space
        </th>
        <td class="text-center" mat-cell *matCellDef="let element">
          {{ element.experienceInSpace }}
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="Working state">
        <th class="text-center" mat-header-cell *matHeaderCellDef>
          Working state
        </th>
        <td class="text-center" mat-cell *matCellDef="let element">
          {{ element.workingState }}
        </td>
      </ng-container>

      <!-- Details Column -->
      <ng-container matColumnDef="Details">
        <th class="text-center" mat-header-cell *matHeaderCellDef>Details</th>
        <td class="text-center" mat-cell *matCellDef="let element">
          <button mat-mini-fab routerLink="/martian-detail/1'">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card-content>
</mat-card>
