<mat-card>
  <mat-card-header class="mx-auto"></mat-card-header>
  <mat-card-title class="text-center">Martians List</mat-card-title>
  <mat-card-content *ngIf="maritans$ | async as martians">
    <table mat-table [dataSource]="martians" class="mat-elevation-z8">
      <!-- Position Column -->
      <ng-container matColumnDef="Image">
        <th class="text-center" mat-header-cell *matHeaderCellDef>No.</th>
        <td class="text-center" mat-cell *matCellDef="let element">
          <img [src]="element.imageUrl" width="35" height="35" />
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="Name">
        <th class="text-center" mat-header-cell *matHeaderCellDef>Name</th>
        <td class="text-center" mat-cell *matCellDef="let element">
          {{ element.fullName }}
        </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="Experience in space">
        <th class="text-center" mat-header-cell *matHeaderCellDef>
          Experience in space
        </th>
        <td class="text-center" mat-cell *matCellDef="let element">
          {{ element.experienceInSpace }}
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="Working state">
        <th class="text-center" mat-header-cell *matHeaderCellDef>
          Working state
        </th>
        <td class="text-center" mat-cell *matCellDef="let element">
          <!-- {{ element.workingState }} -->

          <mat-form-field appearance="fill">
            <mat-label>Choose your work</mat-label>
            <mat-select>
              <mat-option
                [disabled]="element.workingState !== ''"
                *ngFor="let job of jobs$ | async"
                [value]="job.id"
                (click)="updateWorkingState(job.name, element.id)"
              >
                {{ job.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-button (click)="sendWorkingState()">Accept</button>
          <button mat-button>Finish</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card-content>
</mat-card>
