<mat-card class="example-card" *ngIf="martian$ | async as martian">
  <mat-card-header class="mb-2">
    <mat-card-title-group>
      <mat-card-title>{{ martian.lastName }}</mat-card-title>
      <mat-card-subtitle>{{ martian.name }}</mat-card-subtitle>
      <img mat-card-xl-image [src]="martian.imageUrl" [alt]="martian.name" />
    </mat-card-title-group>
  </mat-card-header>

  <mat-card-content>
    <div>Last name:</div>
    <div>Sex: {{ martian.sex }}</div>
    <div>Experience: {{ martian.experienceInSpace }}</div>
    <div>Working state: {{ martian.workingState }}</div>
    <div *ngIf="martian.skills.length">
      Skills:
      <ul *ngFor="let skill of martian.skills" class="ml-2">
        <li>{{ skill }}</li>
      </ul>
    </div>
  </mat-card-content>
</mat-card>
